.yellowchalk-design {
  width: 80%;
  margin: 0 auto;
  height: auto;
  /*background-color: #191e29;
  border-radius: 2vw;*/
}
.yellowchalk-text {
  font-family: Poppins;
  font-size: 1.2vw;
  margin: 10% 0 0 0%;
  /*margin: 0 auto;*/
  color: #ffe94b;
}

.normal-large-text {
  font-family: Poppins;
  font-size: 2.92vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}

.large-text {
  font-weight: 600;
}

.lorem-ipsum {
  font-family: Poppins;
  font-size: 1.31vw;
  line-height: 1.89;
  color: #b2b2b2;
}
.image-const {
  width: 40%;
  position: absolute;
  z-index: 1;
  margin: 3% 00% 0% 18%;
  /*margin: 0 auto;
    /*align-items: center;*/
}

.s-three .image-container {
  width: 30%;
  height: 2vh;
  margin: 2% 0% 0% 5%;
}

.mask1 {
  width: 20%;
  height: auto;
  border-radius: 10px;
  background-color: #ffd4da;
  margin: 10% 0% 0% 25%;
  padding: 0% 00% 1% 0%;
  position: relative;
  z-index: 2;
}
.mask2 {
  width: 20%;
  height: auto;
  border-radius: 10px;
  background-color: #ffd4da;
  margin: -7% 0% 0% 58%;
  position: relative;
  z-index: 3;
}
.mask3 {
  width: 20%;
  height: auto;
  border-radius: 10px;
  background-color: #d8f0bf;
  position: relative;
  margin: 30% 0% 0% 11%;
  z-index: 4;
}
.mask4 {
  width: 20%;
  height: auto;
  border-radius: 10px;
  background-color: #d8f0bf;
  margin: -10% 0% 0% 66%;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 795px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 10% 0% 0% 28%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -5% 0% 0% 70%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 35% 0% 0% 15%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -12% 0% 0% 70%;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 925px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 10% 0% 0% 30%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -14% 0% 0% 74%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 33% 0% 0% 13%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -12% 0% 0% 90%;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 992px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 25% 0% 0% 25%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -5% 0% 0% 70%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 35% 0% 0% 8%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -16% 0% 0% 70%;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 1123px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 30% 0% 0% 30%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -7% 0% 0% 75%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 32% 0% 0% 12%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -8% 0% 0% 78%;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 1200px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 10% 0% 0% 23%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -5% 0% 0% 66%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 32% 0% 0% 8%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -8% 0% 0% 66%;
    position: relative;
    z-index: 5;
  }
}
@media screen and (min-width: 1323px) {
  .mask1 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: 10% 0% 0% 27%;
    padding: 0% 00% 1% 0%;
    position: relative;
    z-index: 2;
  }
  .mask2 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #ffd4da;
    margin: -7% 0% 0% 68%;
    position: relative;
    z-index: 3;
  }
  .mask3 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    position: relative;
    margin: 33% 0% 0% 10%;
    z-index: 4;
  }
  .mask4 {
    width: 20%;
    height: auto;
    border-radius: 10px;
    background-color: #d8f0bf;
    margin: -10% 0% 0% 76%;
    position: relative;
    z-index: 5;
  }
}

.mask-normal-text {
  font-family: Poppins;
  font-size: 1.5vw;
  color: #121023;
  text-align: center;
}

.mask-bold-pink-text {
  font-weight: 600;
  color: #fd6f61;
}
.mask-bold-green-text {
  font-weight: 600;
  color: #548e29;
}

.rectangle2 {
  width: 0.2vw;
  height: 10vh;
  margin: 5% 2% 10% 0;
  background-color: #ffe94b;
  float: left;
  display: inline;
}

.my-container-hr {
  width: 80%;
  margin: 10% 0 0 10%;
  height: auto;
}
.hr-text-you {
  font-family: Poppins;
  font-size: 1.75;
  font-weight: 500;
  margin: 10% 0% 10% 5%;
  padding: 10% 0% 0% 0%;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffe94b;
  display: inline;
}
